<div class="well nested-fields">
  <div class="form-group">
    <%= f.label :description, "Nome" %>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= link_to_remove_association "Remover Tarefa", f %>
  </div>
  <hr />
</div>
